@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
        height: 100%;
        margin: 8px;
        margin-left: 72px;
        margin-right: 72px;
        /* background-color: #f8fafc; */
        background-color: #0f172a;
        font-family: 'Montserrat', sans-serif;
        color: #f8fafc;
    }

    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;  
        grid-template-rows: 1fr 8fr; 
    }

    .header {
        grid-column: 2 / 5;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(12 1fr);
        grid-template-rows: 1fr 1fr;
        padding-left: 10px;
        padding-right: 10px;
        color: #f8fafc;
    }

        /* Reference DK / FD headers. Set up grid styles and flexbox the div containers for left / right sections of headers */

        .header-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            /* border: 1px solid black; */
        }

            .header-top-left {
                display: flex;
                gap: 10px;
            }

                .header-top-tab {
                    font-weight: bolder;
                    text-decoration: none;
                }

                .header-top-tab:visited {
                    color: #e2e8f0;
                    text-decoration: none;
                }
                
                .header-top-tab:hover {
                    color: #94a3b8;
                    text-decoration: none;
                }

            .header-top-right {
                display: flex;
                gap: 10px;
            }

        .header-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            /* .header-bottom-left {

            } */
        
                .sportsbook-options {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 10px;  
                    padding-inline-start: 0px;  
                }

                .option-tabs {
                    font-weight: bolder;
                    text-decoration: none;
                }
                
                .option-tabs:visited {
                    color: #e2e8f0;
                    text-decoration: none;
                }
                
                .option-tabs:hover {
                    color: #94a3b8;
                    text-decoration: none;
                }

            .header-bottom-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }
            
                .login-question {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .login {
                    /* height: 24px; */
                    font-weight: bold;
                    color: #f8fafc;
                    background-color: #94a3b8;
                    border-radius: 5px;
                    border: none;
                    padding: 10px;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
                    transition: .3s;
                }

                button:hover {
                    transition: .3s;
                    background-color: #64748b;
                    color: white;
                }
                
                button:active {
                    transform: translateY(2px);
                }

    .sidebar {
        /* border: 1px solid black; */
        grid-column: 1;
        grid-row: 1 / 5;
        padding: 10px;
    }

        .sidebar-app-row {
            display: grid;
            grid-template-columns: repeat(2 1fr);
            grid-template-rows: repeat(9 1fr);
            gap: 10px;
        }
    
            .app-logo {
                grid-column: 1 / 2;
                font-weight: bold;
                font-size: large;
            }

            .app-link {
                display: flex;
                gap: 10px;
            }

                /* .app-link-icon {
                    border: 1px solid black;
                } */

                .app-link-text {
                    font-weight: bolder;
                    text-decoration: none;
                }
                
                .app-link-text:visited {
                    color: #e2e8f0;
                    text-decoration: none;
                }
                
                .app-link-text:hover {
                    color: #94a3b8;
                    text-decoration: none;
                }

            .app-sports-league {
                display: flex;
                gap: 10px;
            }    

                /* .app-league-icon {
                    border: 1px solid black;
                } */

                .app-league-text {
                    display: flex;
                    align-items: center;
                    font-size: small;
                    font-weight: bolder;
                    text-decoration: none;
                }
                
                .app-league-text:visited {
                    color: #e2e8f0;
                    text-decoration: none;
                }
                
                .app-league-text:hover {
                    color: #94a3b8;
                    text-decoration: none;
                }


    .user-dashboard {
        grid-column: 2 / 5;
        grid-row: 2 / 5;
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* grid-template-rows: repeat(3, 1fr); */
    }
            
            .user-projects {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr .25fr repeat(3, 1fr);
                gap: 10px;
                padding: 10px;
                /* border: 1px solid black; */
            }

                .user-betslip {
                    /* grid-column: 1 / 3;
                    grid-row: 1; */
                    border: 1px solid black;
                    border-radius: 10px;
                    padding: 10px;
                    background-color: #64748b; 
                }

                .user-promo-card {
                    /* grid-column: 1 / 2; */
                    grid-row: 1;
                    border-radius: 10px;
                    padding: 10px;
                    background-color: #64748b;
                    text-decoration: none;
                }

                    .user-promo-card:hover {
                        transition: .1s;
                        background-color: #64748b;
                        color: white;
                        border: 1px solid #f8fafc;
                        text-decoration: none;
                    }
                
                    .user-promo-card:active {
                        transform: translateY(2px);
                    }

                    .user-promo-card:visited {
                        color: #e2e8f0;
                        text-decoration: none;
                    }

                    /* .card-title {

                    }

                    .card-text {

                    } */

                .user-game-tabs {
                    grid-column: 1 / 3;
                    grid-row: 2;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    /* padding: 10px; */
                    height: 40px;
                    border-bottom: 1px #f8fafc;
                    border-top: 0px;
                    border-right: 0px;
                    border-left: 0px;
                    border-style: solid;
                    /* background-color: #1e293b; */
                }

                    /* .game-tabs {
                        display: flex;
                        flex-direction: column;
                    } */

                    .game-tab {
                        padding: 10px;
                        font-weight: bolder;
                        text-decoration: none;
                    }
                    
                    .game-tab:visited {
                        color: #e2e8f0;
                        text-decoration: none;
                    }
                    
                    .game-tab:hover {
                        color: #94a3b8;
                        text-decoration: none;
                        border-bottom: 2px #94a3b8;
                        border-top: 0px;
                        border-right: 0px;
                        border-left: 0px;
                        border-style: solid;
                    }

/* Styles for event tables (e.g. NBA, NFL, NHL, etc.) */

                .event-table { 
                    grid-column: 1 / 3;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    gap: 2px;
                    padding: 5px;
                    /* border-radius: 10px; */
                    background-color: #1e293b;
                }

                .event-table-2 { 
                    grid-column: 1 / 3;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    gap: 2px;
                    padding: 5px;
                    background-color: #1e293b;
                }

                .event-table-3 { 
                    grid-column: 1 / 3;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    gap: 2px;
                    padding: 5px;
                    background-color: #1e293b;
                }

                    .user-event-bar-header {
                        grid-column: 1 / 6;
                        grid-row: 1 / 3;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        gap: 10px;
                        padding: 5px;
                    }

                        .card-title {
                            font-weight: bold;
                        }

                        .card-header-today {
                            grid-column: 1;
                            grid-row: 2;
                        }

                        .card-header-spread {
                            grid-column: 3;
                            grid-row: 2;
                        }

                        .card-header-total {
                            grid-column: 4;
                            grid-row: 2;
                        }

                        .card-header-moneyline {
                            grid-column: 5;
                            grid-row: 2;
                        }

                    .user-event-bar {
                        grid-column: 1 / 6;
                        grid-row: 3 / 5;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-rows: repeat(2, minmax(38px, 1fr));
                        gap: 2px;
                        padding: 5px;
                    }

                    .user-event-bar-2 {
                        grid-column: 1 / 6;
                        grid-row: 5 / 7;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-rows: repeat(2, minmax(38px, 1fr));
                        gap: 2px;
                        padding: 5px;
                    }

                        .card-bet-grid {
                            grid-column: 3 / 6;
                            grid-row: 1 / 3;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                            gap: 2px;
                        }

                        .card-game-team-home {
                            grid-column: 1;
                            grid-row: 1;
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                        }

                        .card-game-score-home {
                            grid-column: 2;
                            grid-row: 1;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            padding-right: 30px;
                            font-weight: bold;
                        }

                        .card-game-team-away {
                            grid-column: 1;
                            grid-row: 2;
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                        }

                        .card-game-score-away {
                            grid-column: 2;
                            grid-row: 2;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            padding-right: 30px;
                            font-weight: bold;
                        }

                            .bet-grid-content {
                                background-color: #475569;
                                display: flex;
                                /* flex-direction: column; */
                                justify-content: center;
                                align-items: center;
                            }

                            .bet-grid-content:hover {
                                transition: .1s;
                                background-color: #64748b;
                                color: white;
                                border: 1px solid #f8fafc;
                                text-decoration: none;
                            }

        .user-dashboard-right {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
        }
    
            .user-announcements {
                display: grid;
                grid-template-columns: 1 1fr;
                grid-template-rows: repeat(4 1fr);
                margin: 10px;
                margin-left: 0px;
                margin-right: 0px;
                padding: 10px;
                gap: 10px;
                background-color: #64748b;
                border: 1px solid black;
                border-radius: 10px;
            }

                .user-announcements-title {
                    font-weight: bold;
                    font-size: 18px;
                }

                .user-betslip-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                
                    .user-announcements-content {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        font-weight: bold;
                    }

                    .user-betslip-content-text {
                        display: flex;
                        text-align: center;
                        align-items: center;
                    }

            .user-trending {
                grid-row: 2;
                display: grid;
                grid-template-columns: 1 1fr;
                grid-template-rows: 1fr 8fr;
                margin: 10px;
                margin-top: 0px;
                margin-left: 0px;
                margin-right: 0px;
                padding: 10px;
                gap: 10px;
                background-color: #64748b;
                border: 1px solid black;
                border-radius: 10px;
            }

                /* .user-trending-title {
                    height: 36px;
                } */

                /* .user-trending-content {
                    border-radius: 10px;
                    padding: 10px;
                    border: 1px solid black;
                } */

/* Media queries for smaller screen widths */

@media all and (max-width:1450px) {
    .sportsbook-options {
        display: none;
    }
}

@media all and (max-width:1200px) {
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto; 
    }
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;
    }
    
        .header-top-left {
            display: none;
        }

        .header-top {
            display: flex;
            justify-content: flex-end;
        }

        .login-question {
            display: none;
        }

    .user-dashboard {
        grid-column: 2 / 5;
        grid-row: 2 / 9;
        display: flex;
        flex-direction: column-reverse;
        min-width: 409.125px;
        /* grid-template-columns: 2fr 1fr; */
    }

        .user-dashboard-right {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0px;
            padding: 10px;
            padding-bottom: 0px;
            column-gap: 10px;
        }

            .user-announcements {
                grid-column: 1 / 1;
                margin: 0px;
                height: 150px;
            }

            .user-trending {
                grid-column: 2 / 2;
                margin: 0px;
                height: 150px;
            }
}

@media all and (max-width:1025px) {
    .user-dashboard-right {
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 0px;
        gap: 10px;
    }

        .user-announcements {
            grid-column: 1 / 1;
            margin: 0px;
            height: 150px;
        }

        .user-trending {
            grid-column: 2 / 2;
            margin: 0px;
            height: 150px;
        }
    
    .card-header-today {
        font-size: small;
    }
    
    .card-header-spread {
        font-size: small;
    }

    .card-header-total {
        font-size: small;
    }

    .card-header-moneyline {
        font-size: small;
    }
}